# Anlaysis of the most up to date Inflation data using the ONS energy intensity estimates.

More inflation data has been released since the publication of the ONS study into the affects of energy intensity on CPI:

Office for National Statistics (ONS), released 17 April 2023, ONS website, article, [The energy intensity of the Consumer Prices Index: 2022](https://www.ons.gov.uk/economy/inflationandpriceindices/articles/theenergyintensityoftheconsumerpricesindex/2022)

Here we will use the same analytical methods as the study to investigated how the energy intensity has affected CPI in recent months

# import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Import data

## Import ONS CPI category energy intensity data

### Energy intensity of COICOP sub categories
source: [Contributions to the Consumer Prices Index (CPI) by energy intensity: Data sources](https://www.ons.gov.uk/redir/eyJhbGciOiJIUzI1NiJ9.eyJpbmRleCI6MSwicGFnZVNpemUiOjEwLCJwYWdlIjoxLCJ1cmkiOiIvZWNvbm9teS9pbmZsYXRpb25hbmRwcmljZWluZGljZXMvZGF0YXNldHMvY29udHJpYnV0aW9uc3RvdGhlY29uc3VtZXJwcmljZXNpbmRleGNwaWJ5ZW5lcmd5aW50ZW5zaXR5IiwibGlzdFR5cGUiOiJyZWxhdGVkZGF0YSJ9.7uW62b2DSYX6gfvBclOswQ0NnJPzFaeyP3m6SkJ6IVo)

In [8]:
coicop_e_intensity = pd.read_excel('./Data/contributions to CPI by energy intensity ONS.xlsx', sheet_name='data cleaned for import')

coicop_e_intensity.head()

         COICOP Class level item  Energy Intensity Energy Intensity Group
0      01.1.1 : BREAD & CEREALS              0.020                   High
1                 01.1.2 : MEAT              0.019                   High
2                 01.1.3 : FISH              0.023                   High
3  01.1.4 : MILK, CHEESE & EGGS              0.018                   High
4          01.1.5 : OILS & FATS              0.021                   High

### CPI category energy intensity data
source: [Contributions to the Consumer Prices Index (CPI) by energy intensity: Table 1](https://www.ons.gov.uk/economy/inflationandpriceindices/articles/theenergyintensityoftheconsumerpricesindex/2022)

In [24]:
# Import the energy intensity of the high level categories of the CPI
cpi_cat_e_intensity = pd.read_excel('./Data/Energy intensity of CPI divisions ONS.xlsx', sheet_name='import')

# drop nan values
cpi_cat_e_intensity = cpi_cat_e_intensity.dropna()

cpi_cat_e_intensity.head()

                           Category  Mean  Median  Min   Max
0  Food and non-alcoholic beverages   2.0     2.0  1.2   3.2
1   Alcoholic beverages and tobacco   1.0     1.0  1.0   1.0
2             Clothing and footwear   0.3     0.5  0.3   1.0
3    Housing and household services  20.5     3.0  0.9  69.0
4         Furniture and furnishings   1.3     1.2  0.9   2.5

## Import ONS CPI inflation data

source:[ONS inflation and price indices](https://www.ons.gov.uk/economy/inflationandpriceindices/bulletins/consumerpriceinflation/april2023)

In [23]:
cpi_inflation = pd.read_excel('./Data/CPI annual and monthly inflation rates by division UK UK, April 2022, March 2023, and April 2023.xlsx', sheet_name='import')

# Replace all occurrences of '\n' with a space to neaten things up.
cpi_inflation['Category'] = cpi_inflation['Category'].str.replace('\n', ' ')

# drop nan values
cpi_inflation = cpi_inflation.dropna()

cpi_inflation.head()

                            Category  March 2023  April 2023
0                      CPI All items        10.1         8.7
1  Food and non-alcoholic  beverages        19.1        19.0
2                Alcohol and tobacco         5.3         9.1
3              Clothing and footwear         7.2         6.8
4    Housing and  household services        26.1        12.3

## Import ONS contributions to CPI by energy intensity data
source: [Contributions to the Consumer Prices Index (CPI) by energy intensity: Figure 3](https://www.ons.gov.uk/economy/inflationandpriceindices/articles/theenergyintensityoftheconsumerpricesindex/2022)

In [27]:
e_intensity_inflation = pd.read_excel('./Data/Energy intensity affect on inflation over time data ONS.xls', sheet_name='import')

e_intensity_inflation.tail()

       Month  Rents  Energy  Very high  High   Low  Very low
45  2022 OCT   0.38    3.88       1.96  2.41  1.25      1.16
46  2022 NOV   0.39    3.71       1.98  2.42  1.06      1.12
47  2022 DEC   0.40    3.50       2.14  2.48  0.98      1.03
48  2023 Jan   0.40    3.41       1.72  2.41  1.07      1.03
49  2023 FEB   0.40    3.28       2.00  2.52  1.05      1.17

## Import CPI weights from ONS

source: [ONS](https://www.ons.gov.uk/economy/inflationandpriceindices/datasets/consumerpriceinflation)

In [41]:
cpi_weights = pd.read_excel('./Data/CPI reference tables.xlsx', sheet_name='import weights')

cpi_weights.head()

                        category  weights 2023\nFeb-Dec
0       01.1.1 Bread and cereals                     21
1                    01.1.2 Meat                     20
2                    01.1.3 Fish                      5
3   01.1.4 Milk, cheese and eggs                     14
4           01.1.5 Oils and fats                      4

# Perform ONS analysis on the latest two months of CPI inflation data

We want to use the new inflation data to add new rows to the `e_intensity_inflation` data. We can then plot to see how energy is continuing to affect CPI inflation.

We can use the two recent months of inflation data that has been published by the ONS since the original energy intensity study.

In [42]:
# add the energy intensity categories to the latest cpi inflation data

df = cpi_weights.copy()
df['Energy Intensity Group'] = coicop_e_intensity['Energy Intensity Group']

df.tail()

,category,weights 2023\nFeb-Dec,Energy Intensity Group
79,12.5.2 House contents insurance,1,Very low
80,12.5.3/5 Health insurance and other insurance,5,Very low
81,12.5.4 Transport insurance,3,Very low
82,12.6.2 Other financial services (nec),15,Very low
83,12.7 Other services (nec),14,Very low