# Anlaysis of the most up to date Inflation data using the ONS energy intensity estimates.

More inflation data has been released since the publication of the ONS study into the affects of energy intensity on CPI:

Office for National Statistics (ONS), released 17 April 2023, ONS website, article, [The energy intensity of the Consumer Prices Index: 2022](https://www.ons.gov.uk/economy/inflationandpriceindices/articles/theenergyintensityoftheconsumerpricesindex/2022)

Here we will use the same analytical methods as the study to investigated how the energy intensity has affected CPI in recent months

# import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import seaborn as sns

# Import data

## Import ONS coicop category energy intensity data

source: [Contributions to the Consumer Prices Index (CPI) by energy intensity](https://www.ons.gov.uk/redir/eyJhbGciOiJIUzI1NiJ9.eyJpbmRleCI6MSwicGFnZVNpemUiOjEwLCJwYWdlIjoxLCJ1cmkiOiIvZWNvbm9teS9pbmZsYXRpb25hbmRwcmljZWluZGljZXMvZGF0YXNldHMvY29udHJpYnV0aW9uc3RvdGhlY29uc3VtZXJwcmljZXNpbmRleGNwaWJ5ZW5lcmd5aW50ZW5zaXR5IiwibGlzdFR5cGUiOiJyZWxhdGVkZGF0YSJ9.7uW62b2DSYX6gfvBclOswQ0NnJPzFaeyP3m6SkJ6IVo)

In [8]:
coicop_e_intensity = pd.read_excel('./Data/contributions to CPI by energy intensity ONS.xlsx', sheet_name='data cleaned for import')

coicop_e_intensity.head()

         COICOP Class level item  Energy Intensity Energy Intensity Group
0      01.1.1 : BREAD & CEREALS              0.020                   High
1                 01.1.2 : MEAT              0.019                   High
2                 01.1.3 : FISH              0.023                   High
3  01.1.4 : MILK, CHEESE & EGGS              0.018                   High
4          01.1.5 : OILS & FATS              0.021                   High

## Import ONS CPI inflation data

source:[ONS inflation and price indices](https://www.ons.gov.uk/economy/inflationandpriceindices/bulletins/consumerpriceinflation/april2023)

In [14]:
cpi_inflation = pd.read_excel('./Data/CPI annual and monthly inflation rates by division UK UK, April 2022, March 2023, and April 2023.xlsx', sheet_name='import')

# Replace all occurrences of '\n' with a space to neaten things up.
cpi_inflation['Category'] = cpi_inflation['Category'].str.replace('\n', ' ')

cpi_inflation.head(20)

                                             Category  March 2023  April 2023
0                                       CPI All items        10.1         8.7
1                   Food and non-alcoholic  beverages        19.1        19.0
2                                 Alcohol and tobacco         5.3         9.1
3                               Clothing and footwear         7.2         6.8
4                     Housing and  household services        26.1        12.3
5                      Furniture and  household goods         8.0         7.5
6                                              Health         7.1         7.0
7                                           Transport         0.8         1.5
8                                       Communication         3.7         7.9
9                              Recreation and culture         4.6         6.3
10                                          Education         3.2         3.2
11                            Restaurants  and hotels        11.3        10.2
12                  Miscellaneous goods  and services         6.7         6.8
13                                                NaN         NaN         NaN
14                                          All goods        12.8        10.0
15                                       All services         6.6         6.9
16  CPI exc food, energy,  alcohol and tobacco  (c...         6.2         6.8